<h1>Listing of categories</h1>
<% @categories.each_with_level(@categories.root.self_and_descendants) do |category, level| %>
  <div style="padding-left:<%= 15*level %>px;">
    <%= category.name%>
    <%= " | "%>
    <%= link_to 'Edit category', edit_category_path(category.id) %>
    <% if category.products.each do |prod| %>
      <div style="padding-left:<%= 15*(level+1) %>px;">
        <%= prod.title %>
        <%= " | "%>
        <%= link_to 'Edit product', edit_product_path(prod.id) %>
      </div>
      <% end %>
    <% end %>
  </div>
<% end %>

<br/>
<%= link_to 'New category', new_category_path %>
<%= " | "%>
<%= link_to 'Back', root_url %>


<br/>
<div id="test"></div>
<script type="text/javascript" class="source">
  $(function () {
    $("#test")
      .jstree({ 
        "plugins" : [ "themes", "json_data", "ui", "cookies", "dnd", "types", "grid" ],
        "grid" : {
          "columns" : [
            { "width" : "200", "header" : "Nodes"},
            { "cellClass" : "col1", "value" : "price", "width" : "70", "header" : "Price"},
            { "cellClass" : "col2", "value" : "size", "width" : "50", "header" : "Size" }
          ]
        },
        "types" : {
          "max_depth" : "3",
          "valid_children" : ["root"],
            "types" : {
              "default" : {
                "valid_children" : ["default", "product"],
                "max_children" : "2",
                "icon" : {
                  "image" : "images/folder.png"
                },
              },
              "product" : {
                "valid_children" : "none",
                "icon" : {
                  "image" : "images/file.png"
                }
              },
              "root" : {
                "valid_children" : ["default", "product"],
                "icon" : {
                  "image" : "images/drive.png"
                },
                "move_node" : false
              }
            }
        },
        "json_data" : {
      		"ajax" : {
            "url" : '<%= escape_javascript json_data_categories_path %>',
            "data" : function (n) {
              return { id : n.attr ? n.attr("id") : 0 };
            }
          }
        }
      })
      .bind("move_node.jstree", function (e, data) {
        data.rslt.o.each(function (i) {
          $.ajax({
            url: '<%= escape_javascript move_tree_node_categories_path %>',
            data: {
              "id" : $(this).attr("id"),
              "ref" : data.rslt.np.attr("id"),
              "category_id" : $(this).attr("category_id"),
              "p_id" : $(this).attr("p_id"),
              "position" : data.rslt.cp + i
              },
              
          });
        });
      });
  });
</script>