<li>
  <strong><%= comment.name %> write <%= comment.created_at %></strong><br/>
	<%= comment.comment_body %><br/>
	<%= link_to "Answer", new_product_comment_path(@product, :reply_to => comment.id) %><br/><br/>
	<ul>
		<%= render :partial => "comment", :collection => comment.children %>
	</ul>
</li>